container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import AccountUser; AccountUser.objects.create_superuser('admin', 'django', 'admin@gmail.com', 'admin', 'admin')\" | python manage.py shell"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Greatkart_Project.settings