<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
    <div class="col-sm-3 col-4" >
      <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static './images/logo.png' %}"></a>
    </div>
    <div class="col-sm-5 col-4" >
      <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0 ml-auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="keyword">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    </div>

    <div class="collapse navbar-collapse col-sm-4 col-4" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'store' %}" class="dropdown-item">All Categories</a>
                        {% for category in lists %}
                        <a href="{{ category.get_url }}" class="dropdown-item">{{ category.category_name|capfirst }}</a>
                        {% endfor %}
                    </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}">Store</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'cart' %}" class="nav-link navbar-link-2 waves-effect">
          <i class="fas fa-shopping-cart pl-0"></i>
          <span class="badge badge-danger">{{ count }}</span>
        </a>
      </li>
      {% if user.id is None %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Welcome {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                        <a href="{% url 'my_orders' %}" class="dropdown-item">My Orders</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
      </li>
      {% endif %}
    </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  </nav>
</body>
</html>