


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">

                <div class="row align-items-center">

                     <div class="col-sm-2 col-6

                      pl-5">
                         <a href="{% url 'home' %}" class="img-wrap"><img class="logo" src="{% static './images/logo.png' %}"></a>
                     </div>

                    <div class="col-sm-2 col-6 flex-grow-0" >
                        <div class="category-wrap dropdown d-inline-block float-right">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i> Category
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'store' %}">All Categories</a>
                                {% for category in lists %}
                                <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                                {% endfor %}
                            </div>
                        </div>  <!-- category-wrap.// -->
                    </div> <!-- col.// -->

                    <div class="col-sm-2 col-2">
                        <a href="{% url 'store' %}" class="btn btn-outline-primary w-100">Store</a>
                    </div>

                    <div class="col-sm-3 col-5">
                        <form action="{% url 'search' %}" class="search">
                            <div class="input-group ">
                                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </div>
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->

                    <div class="col-md-3 col-5 order-2 order-lg-3 pr-5">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div>
                                <a href="./signin.html">Sign in</a> <span class="dark-transp"> | </span>
                                <a href="./register.html"> Register</a>
                            </div>
                        </div>
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ count }}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
			</div> <!-- col.// -->

                </div> <!-- row.// -->

    </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->
</body>
</html>